# Environment Variables
.env

# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Database
# Ignore the data directory containing the SQLite DB
backend/data/
*.db
*.sqlite3

# Generated Reports
backend/reports/*.pdf

# IDE/OS files
.DS_Store
.vscode/
